[2019-11-01 11:40] Tinywan opened #5 "3.4 How to Enable V2 Protocol Support or How to Configure Configuration Files"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2019-11-02 10:10] #5 closed

[2019-12-11 01:40] cwocwo opened #6 "Will etcd chart support arm64 arch?"
**Description**

We want to use etcd on arm64 arch.
Will etcd chart support arm64 arch?

[2019-12-11 07:33] rafariossaa commented on #6
Hi @cwocwo ,
  I am sorry to tell you that for now we are not creating docker images for that architecture.

Best regards,

[2019-12-14 01:59] cwocwo commented on #6
Could you give some suggestions or method that we can build the image ourself?

[2019-12-14 19:05] beltran-rubo commented on #6
Bitnami containers do not support the arm64 architecture.

There is not a simple way to support it. A possible way is to build the container on your own: get a Debian or any distro that supports arm64 and you can download the binaries for arm64 from https://github.com/etcd-io/etcd/releases Then would be required to configure it, but that is basically building the container from scratch.

[2019-12-18 06:07] cwocwo commented on #6
@beltran-rubo Thanks for your reply. We have already build the arm64 image, but it is different with bitnami's image, it can't ran properly with the bitnami etcd chat. Any ideas?

[2019-12-19 10:13] rafariossaa commented on #6
Hi @cwocwo ,
  Which problem are you facing ?

[2020-01-08 11:35] #6 closed

[2020-07-14 09:47] dk-do opened #7 "[bitnami/etcd] Restore Issues on Kubernetes"
**Description**

We have some issues regarding etcd-backup restores on Kubernetes:
The etcd-snapshotter is running every hour. Once a day we copy the data from the etcd-snapshot directory to a backup folder in filesystem to perform a tape backup.

Time by time we are struggeling with restoring data.

**Steps to reproduce the issue:**

1. Copy the db file to /tmp/ to all etcd-0, etcd-1, etcd-2 pods

[2020-07-15 07:41] juan131 commented on #7
Hi @dk-do

Why are you manually restoring the snapshots? I mean, we are already providing mechanisms in the chart to automatically recover them installing a new chart. See https://github.com/bitnami/charts/blob/master/bitnami/etcd/README.md:

Parameter | Description	| Default
-- | -- | --
startFromSnapshot.enabled | Initialize new cluster recovering an existing snapshot | false
startFromSnapshot.e

[2020-07-15 08:29] dk-do commented on #7
Maybe we need some best practise advice how to solve the following issues:

1. We had a complete power outage in our data centre. After the K8S cluster was available again, everything was fine (MongoDB, ELK, Redis etc.) except etcd. After executing

`etcdctl endpoint status --endpoints=http://etcd-2.etcd-headless.default.svc.cluster.local:2380,http://etcd-1.etcd-headless.default.svc.cluster.local:

[2020-07-15 10:42] mjrepo2 commented on #7
I am having a similar issue, I have the same environment as @dk-do,

I have provided a RWX volume for the snapshotter that is mounted in all etcd pods, I have confirmed that it is mounted in my new test cluster.
Upon attempting to start this new etcd cluster with the the mechanism you mentioned @juan131, I get the same result as dk-do.

`helm install test -f etcd.yaml bitnami/etcd   --set stateful

[2020-07-16 07:58] juan131 commented on #7
Hi everyone,

I tried to reproduce the issue without luck:

[code]

Once I had my 1st backup, I created a pod (using the manifests below) to copy the latest snapshot in a different PVC:

[code]

[code]

Then, I uninstalled etcd:

[code]

Finally, I installed etcd again, using the "snapshots" PVC to start etcd:

[code]

[2020-07-20 11:10] mjrepo2 commented on #7
Hello @juan131, I was able to successfully restore a cluster with the method you posted.
Not sure why it wasn't working for me the first few tries, my helm install command isn't soo much different.

[2020-07-21 06:43] juan131 commented on #7
That's great! I'm glad you were able to restore the cluster @mjrepo2

@dk-do could you please also give a try to the instructions I shared?

[2020-07-21 08:25] mjrepo2 commented on #7
We are in the same office, I believe this can be closed.

[2020-07-21 11:43] mjrepo2 commented on #7
I have run into another issue:
When restoring our etcd we have to keep the same deployment name (for connection strings and such), I have noticed when I try to restore a second time, upon _helm delete etcd_, my PVC for etcd-snapshotter is released, and will not be remounted, since a new PVC/PV for etcd-snapshotter is created.. Is this due to it being labelled as an "init-snapshot-volume" like so -

[2020-07-22 13:31] juan131 commented on #7
HI @mjrepo2

I'm a little bit confused... Could you please share the exact commands you used? I don't fully understand what you mean with restoring it for a second time.

[2020-07-23 06:57] mjrepo2 commented on #7
Hey @juan131

I guess my question would be simpler when I word it like this:

Is there any way to restore an etcd cluster from the volume that is created from disaster recovery, etcd-snapshotter? Or do I have to always provide another extra volume for that? It seems overkill that I have a volume for each etcd instance, a volume to snapshot the cluster, and another volume to restore?

[2020-07-23 08:20] juan131 commented on #7
Yes, I agree. We should be able reuse the volume used by `etcd-snapshotter` to restore the cluster too. Regardless you can also use a different one. That said, it's not possible with the current implementation.

I'll create a task to work on it. Thanks for the feedback.

[2020-07-24 14:52] haroonb commented on #7
@juan131 Hi, I wanted to automate the task of restoring from a backup and was wondering if It's possible to point to a local file instead of a mounted pv?

[2020-07-27 06:43] juan131 commented on #7
Hi @haroonb

I guess you can do it in 4 steps:

- Create the PV
- Create a pod with some container that does nothing (e.g. `sleep infinity) and mount the PV on it. Check this comment that does sth similar https://github.com/bitnami/bitnami-docker-etcd/issues/7#issuecomment-659230065
- Use `kubectl cp` to copy your local snapshot to the container (in the path where you mounted the PV)
- Delete the

[2020-07-29 11:30] haroonb commented on #7
Hello @juan131

I tried to create a volume with a nfs mount, which has me etcd backups, instead of creating a new volume and copying files into that, but etcd doesn't find the files. The command I use to restore the backup is `helm install --set image.tag=3.4.9-debian-10-r46 -f values.yaml  etcd bitnami/etcd --set statefulset.replicaCount=3 --set startFromSnapshot.enabled=true --set startFromSnaps

[2020-07-30 06:52] juan131 commented on #7
Hello @haroonb

Please create a pod like the one below, so you can inspect what you have in the "restore" PV:

[code]

Then, access the Pod and inspect the volume:

[code]

Please share the output of the above command.

[2020-07-30 06:56] haroonb commented on #7
Hello the output of the command is.

[code]

Thanks for your assistance.

[2020-07-30 07:04] juan131 commented on #7
Hi @haroonb

The "restore" PV seems to be fine.

Could you try re-installing the chart using the latest chart version? Please remember to uninstall the previous release previously and remove the PVC(s) generated during the previous installation.

[code]

Then, share the logs of any of the etcd replicas (e.g. `etcd-0`):

[code]

[2020-07-30 07:10] haroonb commented on #7
The output of the command is as following.

[code]

[code]

[2020-07-30 07:31] juan131 commented on #7
Please also run the commands below and share the output:

[code]

[2020-07-30 07:37] haroonb commented on #7
The results can be viewed here.

http://ix.io/2sFP

[2020-07-30 08:27] juan131 commented on #7
This is the piece of code throwing the logs you shared:

[code]

So it's basically not finding the file `/init-snapshot/db`. If we take a look to the pod definition, we can see this:

[code]

So basically it's mounting the "restore" PV at `/init-snapshot`. Therefore, it should be detecting the snapshot file you have... It's so weird

[2020-07-30 08:37] haroonb commented on #7
Which is even weirder is, that there is a moment before the container restarts, where I can check the contents of `/init-snapshot/` with kubectl containing the snapshot.

[2020-07-31 07:16] juan131 commented on #7
Hi @haroonb

Did you discover anything new? Can you try editing the **etcd-scripts** ConfigMap adding the line below in the script? Just to double check what's going on there... Then, you can kill the pods so they are restarted and use the new script

[code]

[2020-07-31 07:59] haroonb commented on #7
Hi I couldn't find out anything new, because I didn't knew how to troubleshoot the issue. I added the following, to check a few things and it seems, that the user couldn't access the directory, because of mode 600, I changed it to 700 and now it successfully locates the backup and restores the cluster. Thanks for you assistance.
[code]

[code]

[2020-07-31 08:13] juan131 commented on #7
Great!!! I am very glad you could solve it!

[2020-07-31 11:00] mjrepo2 commented on #7
@juan131

I have a follow up question about `initialClusterState`, should we be setting this flag to `existing` upon a restore?

`helm install --name etcd bitnami/etcd -f /tmp/etcdvalues_4_9_1.yaml --set startFromSnapshot.existingClaim=snapshots --set startFromSnapshot.snapshotFilename=db-now --set disasterRecovery.historyLimit=48 --se
t image.tag=3.4.10-debian-10-r1 --set etcd.initialClusterState

[2020-07-31 13:28] juan131 commented on #7
Hi @mjrepo2

It should be "new", since "existing" should be only used when a node is joining a running cluster.

As you can see in these lines (https://github.com/bitnami/charts/blob/master/bitnami/etcd/templates/statefulset.yaml#L131-L138), by default it's set to "new" when running `helm install`, while it's set to "existing" when running `helm upgrade`.

[2020-08-03 08:57] mogody opened #8 "Volumes in Kubernetes permission deny"
I deployed etcd on k8s, and the securityContext has been configured according to the documentation, but it still prompts no permission：
https://engineering.bitnami.com/articles/running-non-root-containers-on-openshift.html

this is my config:
[code]

Finally change it like this，and work fine:
[code]

why use securityContext cant working?

[2020-08-03 11:49] haroonb commented on #7
@juan131 I have a followup question about the restore process. The `init-snapshot` is only ever required for the initial restore right? Why does etcd not release this mount after a successful restore, so I can delete the pv,pvc. I don't feel comfortable having the pv permanently mounted inside the pods, if they are not required.

[2020-08-03 14:23] marcosbc commented on #8
@mogody In the docs, we recommend to use an init-container to change the permissions of the volume before mounting it:

[code]

As an init-container, it will be executed before the other ones:

[code]

Note that your Kubernetes template would need to include **both** the init-container, and the container specs.

See the Bitnami Helm chart for etcd if you want to run etcd as a non-root user in Kube

[2020-08-04 00:41] mogody commented on #8
So what you mean is, if I want to deploy containers through none-root, do I need to configure both securityContext and initContainers?
But my test found that only initContainers can be used, but only securityContext is not enough.

In addition, how to configure subPath when deploying etcd through helm?

[2020-08-04 09:11] miguelaeh commented on #7
Hi @haroonb ,
I understand your point, but I am not totally sure about how to implement that. Could you send a PR for that? We will be happy to review it.

[2020-08-04 15:50] marcosbc commented on #8
@mogody You should always specify securityContext when running a container as non-root. As for initContainers, It depends on your storageClass: https://kubernetes.io/docs/concepts/storage/storage-classes/

Usually with cloud defaults, it would be enough to specify securityContext with runAsUser/fsGroup, no initContainers needed. However, other storage classes such as NFS, also require you to enabl

[2020-08-05 00:05] #8 closed

[2020-08-26 13:31] lanartri opened #9 "docker build link"
Not a big deal, just noticed that link at README is for your other repo,

`$ docker build -t bitnami/etcd:latest 'https://github.com/bitnami/bitnami-docker-nginx.git#master:3/debian-10'`

[2020-08-26 14:47] carrodher commented on #9
Hi! Thanks for letting us know, I just fixed it in this commit https://github.com/bitnami/bitnami-docker-etcd/commit/129d85b99ca9386cb4c7a9df7e8cb78816c1034e

[2020-08-26 14:47] #9 closed

[2020-09-07 12:48] haroonb opened #10 "failed rolling restart on k8s"
**Description**

I tried to perform a rolling restart of the etcd statefulset, but it seems to fail at removing the member from the cluster.

**Steps to reproduce the issue:**

1. have a running etcd cluster
2. `kubectl rollout restart statefulset $(kubectl get statefulset -l app.kubernetes.io/name=etcd -o=jsonpath={.items[*].metadata.name})`

**Describe the results you received:**

etcd-2 goes in

[2020-09-08 12:04] andresbono commented on #10
Hi @haroonb, did you use the bitnami/etcd chart to deploy the cluster? We would like to reproduce the issue that you are facing.

[2020-09-08 12:22] haroonb commented on #10
Hello @andresbono, we use the bitnami/etcd chart to deploy the cluster.
helm install --name etcd -f values.yaml --version 3.4.10 bitnami/etcd

[2020-09-09 10:47] andresbono commented on #10
Hi @haroonb, it seems `3.4.10` version is not available. We tried with the latest one.

[code]

We tried to reproduce the issue but we couldn't:

[code]

Do the logs of the crashing pod show any hints about the problem? How are you customizing the values of the chart?

[2020-09-09 11:01] haroonb commented on #10
Hi @andresbono, I have the version 3.4.10 installed, could be that the tag is different like suggested in the values.

[code]

[code]

The logs etcd-2 states. that it can't find the member and isn't able to join the cluster.

[code]

The pod states, that the liveness probe fails.
[code]

[2020-09-10 11:46] andresbono commented on #10
Oh ok, the chart version is `4.9.1` and the app version `3.4.10`.

We tried again with that version but it is still working fine for us.

Does the error happen consistently? Can you try on a new helm install disabling persistence, metrics and disasterRecovery to see if it is somehow related?

[2020-09-14 10:39] haroonb commented on #10
Hello @andresbono I disabled persistence and disasterRecovery. And still run into a CrashLoopBackOff. This is a clean install, I just installed etcd with helm and did a rolling restart afterwards.

[code]
[code]
[code]
[code]
[code]

[2020-09-14 14:43] andresbono commented on #10
It seems the error is:

[code]

Can you enable persistence again (in a clean install) to see if the error is still the same in any of the files? Or is the only error the one that you mentioned?

[code]

[2020-11-11 10:54] haroonb commented on #10
Hello again @andresbono , sorry for the delayed response. I was involved in another project, but I have time to look into this again.

So I purged my old deployment and redeployed with the suggested values, but the pod still crashes after a rolling restart.
[code]
[code]

[code]
[code]

[2020-11-11 11:08] haroonb commented on #10
/reopen

[2020-11-11 11:12] haroonb opened #11 "failed rolling restart on k8s"
_Originally posted by @haroonb in https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-725354265_

Hello again @andresbono , sorry for the delayed response. I was involved in another project, but I have time to look into this again.

So I purged my old deployment and redeployed with the suggested values, but the pod still crashes after a rolling restart.
[code]
[code]

[code]
[cod

[2020-11-12 08:45] andresbono commented on #11
Hi @haroonb, please let's continue the conversation in #10, where we have all the context. We will reopen the issue. Thanks!

[2020-11-12 08:45] #11 closed

[2020-11-12 13:26] andresbono commented on #10
Hi @haroonb, we could finally reproduce the issue with the values provided in https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-725354265.

It seems clear that the problem is related to the persistence. Just by removing all the persistence block from the values you provided, everything works as expected again.

Can you try that?

Note that you are using a storage class that may

[2020-11-17 15:25] haroonb commented on #10
Hi @andresbono I can confirm, if I delete the paragraph containing the persistence I can do a rolling restart. I however don't understand why it wouldn't work, when the paragraph was there, but disabled.

I also tested setting the `rook-ceph-block` storageclass to `default `in kubernetes and deploy etcd. It seems to work as expected, if it uses the `default `storageclass, which is the same as befo

[2020-11-17 18:15] andresbono commented on #10
I don't get it either. Given that information, it seems the rolling restart needs to have persistence enabled. And you are also confirming that the storage class  wasn't the issue, you should be able to specify it again in your values yaml:

[code]

It's curious because that exactly what you were providing in https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-689488130

[2020-11-19 12:38] haroonb commented on #10
I'm currently very confused with my testing results. Enabling the persistence and explicitly giving `rook-ceph-block` as the storageclass didn't result in a crashing cluster, which I didn't expect. When I also enabled disasterrecovery the rolling restart was in crashloopbackoff again. Next I remove the storageclass and left the persistence and disasterrecovery and the cluster still kept crashing.

[2020-11-20 12:20] andresbono commented on #10
And what is the error that the logs are showing? Is it the same or a different one? Please share the latest values and logs so that we can try to reproduce it.

[2020-11-20 12:25] haroonb commented on #10
Sry somehow, the message got send without my logs.
[code]
[code]
[code]

[2020-11-20 14:12] andresbono commented on #10
I'm unable to reproduce it again.

`custom-values.yaml` is obtained from your comment: https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-731140413

Please note that we don't have `rook-ceph-fs` available, so I'm using nfs instead.

[code]

I would suggest the following:

- Double check you are removing the PVC after every retry
- Try with the nfs storage provisioner to see if i

[2020-11-23 10:56] haroonb commented on #10
It seems, that you are correct, I checked etcd multiple times with a nfs as persistence and I didn't get any crashloopbackoffs.
At this moment this Issue seems to be be concluded.

[2020-11-27 11:55] haroonb commented on #10
Hello, I'm sorry, but I think I need to reopen this issue, because my cluster is stuck in `CrashLoopBackOff` again, but it I don't think it's is because of the filesystem this time. I think it had something to do with the `podAntiAffinity`. This maybe related to [#1513](https://github.com/bitnami/charts/issues/1513), but I'm not sure.

[code]
[code]
[code]

[2020-11-30 11:47] andresbono commented on #10
Hi @haroonb, did the error happen again after a rollout?

What leads you to think that the issue is now related to podAntiAffinity or #1513?

[2020-11-30 12:14] haroonb commented on #10
Hi @andresbono, yes after I deployed a frash cluster with `podAntiAffinity` and tried a rolling restart the issue happened again, but with another error message in the log.

It's just a conclusion I drew for myself. My previous cluster without `podAntiAffinity` had no issue with a rolling restart, the only thing I added in this new cluster is the `podAntiAffinity`, therefore I concluded that the i

[2020-12-01 13:21] andresbono commented on #10
Hi @haroonbm,

There are a few other differences, right? https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-731140413 vs https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-734799456

[code]

Trying to reproduce the issue again. Values file from https://github.com/bitnami/bitnami-docker-etcd/issues/10#issuecomment-734799456:

[code]

If finishes fine. Could it

[2020-12-08 08:39] gvilar commented on #10
Hi, I have the same issue...
When a etcd cluster pod crashed or i would like to restart him (with a stop or a rollout restart) the pod still on CrashLoopBackOff.
Logs of the pod:
==> Bash debug is off
==> Detected data from previous deployments...
==> Adding new member to existing cluster...

I have created my etcd cluster with a snapshot like that:
- name: Launch Etcd Cluster with arguments with

[2020-12-08 14:56] marcosbc commented on #10
Hi @gvilar, could you deploy with `image.debug=true` to see if we can get more info on the specific failure?

[2020-12-09 08:34] gvilar commented on #10
Hi @marcosbc ,
there you are logs of the crashloopbackup etcd pod:

k logs pod/etcd-etcd-2 -n infra -c etcd
==> Bash debug is on
==> Detected data from previous deployments...
{"level":"warn","ts":"2020-12-09T08:29:20.131Z","caller":"clientv3/retry_interceptor.go:61","msg":"retrying of unary invoker failed","target":"endpoint://client-a9ac5e86-f463-4ff3-8c9c-92ff030cf284/etcd-etcd-0.etcd-etcd-head

[2020-12-09 08:36] gvilar commented on #10
Hi @marcosbc ,
there you are logs of the crashloopbackup etcd pod:

k logs pod/etcd-etcd-2 -n infra -c etcd
==> Bash debug is on
==> Detected data from previous deployments...
{"level":"warn","ts":"2020-12-09T08:29:20.131Z","caller":"clientv3/retry_interceptor.go:61","msg":"retrying of unary invoker failed","target":"endpoint://client-a9ac5e86-f463-4ff3-8c9c-92ff030cf284/etcd-etcd-0.etcd-etcd-head

[2020-12-10 07:48] gvilar commented on #10
I think he try to put the pod like a new member of the cluster instead of reused his previous datas... I don't know why...

[2020-12-11 10:32] devkoriel commented on #10
We are facing the same problem... I used
`kubectl -n <namespace-for-etcd> rollout restart statefulsets`
to restart the etcds.

The first etd pod is working well after restarting but remaining two are not working with the crash.

[2020-12-11 14:28] andresbono commented on #10
Hi @gvilar, can you confirm if the rollout works fine in your case if you don't use startFromSnapshot parameters? Any information that you can share will be useful for us to debug and solve the issue.

---

@devkoriel, what are the values that you are using?

[2020-12-14 10:56] andresbono commented on #10
Thanks for the additional information @gvilar. We will try to prioritize the investigation of these issues.

[2020-12-21 06:43] bhiravabhatla commented on #10
@andresbono  - I see that sometimes /bitnami/etcd/member_id is not created. I suspect its due to this -
https://github.com/bitnami/charts/blob/f09071a673eb3592c7c0928febfdff3579289520/bitnami/etcd/templates/scripts-configmap.yaml#L54

[code]
We jus wait/sleep until `etcdctl member list` returns success. As all etcd pods/nodes in statefulset are coming up in  parallell ( due to this change - https:

[2020-12-22 17:03] FraPazGal commented on #10
Hello @bhiravabhatla,

Thank you for your input! We have estimated the internal task related to this issue and the team will start working on it just after the holidays, I'll update it with your insight.

Regarding your question, I would say that removing the pod from the cluster before stoping it helps to maintain a healthy cluster and avoids future conflicts if a IP is reused.

[2020-12-28 17:49] ancienter opened #12 "jq: error (at <stdin>:1): Cannot index number with string "node""
[code]

[2020-12-29 16:33] marcosbc commented on #12
Hi @ancienter, please share more information about your error such as logs, and how to reproduce it. Unfortunately I could not reproduce it as Etcd is working fine for me with the command below:

[code]

[2020-12-31 12:37] ravicm commented on #10
I have run into this issue as well but in the case of `helm upgrade`. I had statefulset with one replica initially setup.  Then when I helm upgraded to 3 replicas - I see the issue. On investigation, I see that the initial replica is getting recreating and having issues with pvc for initial replica.

I can do some more testing and report results. Just sharing this summary for someone who wishes to

[2021-01-04 08:42] FraPazGal commented on #10
Hi @ravicm,

We really appreciate the feedback! Every report will be included in our internal task and be of help to the team once the team starts working on this.

[2021-02-07 03:16] yunzhihui commented on #10
Is there no solution to this problem?

[2021-02-09 11:32] andresbono commented on #10
Hi @yunzhihui, the internal task couldn't be addressed yet. As soon as we have more news, we will post a message here.

[2021-02-23 12:02] haroonb commented on #10
Hi, I just wanted to share some more information, about this issue. I have changed the `podAntiAffinity`  from `preferredDuringSchedulingIgnoredDuringExecution' to `requiredDuringSchedulingIgnoredDuringExecution` and noticed, that after a node drain the pod was pending as expected, but did to into a `CrashLoopBackOff' after I uncordoned the node again and the pod was able to schedule. Deleting the

[2021-02-25 12:19] #12 closed

[2021-02-26 08:43] juan131 commented on #10
Please check the comment I just dropped at #5443

Several people reported instability around **etcd** when performing operations such as scaling or relocating pods. I'm currently working on removing tech debt from the scripts we use to bootstrap the containers.

Expect new from my side in the following days.

[2021-03-11 13:54] haroonb opened #15 "CrashLoopBackOff trying to upgrade from helmv2 to helmv3"
**Description**

I have tried to upgrade to upgrade our old etcd deployment from helmv2 to helmv3. As far as I could tell this is the preferred method on switching charts, please correct me if I'm wrong. This worked fine with the mongodb chart.

**Steps to reproduce the issue:**

1. Install etcd using helmv2 chart
[code]
2. wait for cluster to be running write data and wait for a few snapshots
3.

[2021-03-12 10:38] andresbono commented on #15
Hi @haroonb, why are you specifying the image tag? Could the issue be related to that? What if you leave the chart default values to specify the image tag?

Additional information on Helm upgrade: https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-500

[2021-03-12 12:14] #7 closed

[2021-03-12 12:14] #10 closed

[2021-03-12 13:11] juan131 commented on #10
We just released a new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure/e

[2021-03-12 13:11] juan131 commented on #7
We just released a new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure/e

[2021-03-15 08:15] haroonb commented on #15
Hi @andresbono, we always specify the image tag, to be consistent on all our clusters ( for troubleshooting ). I have tried it without specifying the image tag, with the same result though. I will test upgrading to the currently latest version 6.0.0, thanks for everyone's work on that release. I will update this issue, if the update was successful.

[2021-03-15 09:29] juan131 commented on #15
Thanks @haroonb ! Please share with us any bug/misbehaviour you find using the new major version, your feedback is very important to improve the chart and make it as stable as possible.

[2021-03-17 11:40] haroonb commented on #15
Hello, I tested the upgrade from helmv2 to helmv3 and it works without any issues. Thank you for you work. I ran into some other issues not related to the upgrade, I will open another issue for that.

[2021-03-17 14:54] haroonb commented on #15
Hello @juan131 it seems like I closed this issue to early. I tried the upgrade on a few more cluster and it seems like I can end up with a broken cluster. I upgrade the cluster with the new values. the `etcdvalues.yaml` only das the `podAntiAffinity`. It seems like it doesn't recognise the other pods as cluster members.

[code]
[code]
[code]
[code]
[code]

[2021-03-19 11:09] juan131 commented on #15
Hi @haroonb

Let's move the conversation to this issue: https://github.com/bitnami/charts/issues/5771
Other users reported similar issues and they were fixed with the changes I mentioned on this answer: https://github.com/bitnami/charts/issues/5771#issuecomment-800149758

[2021-03-19 11:09] #15 closed

[2021-04-29 05:53] izayoi-akira opened #19 "How to migerate data?"
some data on the local server,I want to migerate  then to an other server
then I tried :
1. copy the dir /etcd_data to new server
2. only copy  /etcd_data/member/snap/db file to new server
3. local server exec  etcdctl  snapshot save and  other server exec etcdctl snapshot restore
none of them worked

[2021-04-29 05:58] izayoi-akira commented on #19
when I use etcdctl snapshot restore like this:
`etcdctl snapshot restore snapshot.db --data-dir=/etcd_data`
it error with: `Error: data-dir "/etcd_data" exists`
then change the data-dir:
`etcdctl snapshot restore snapshot.db --data-dir=/etcd_data_new`
error with: `Error: mkdir /etcd_data_new: permission denied`

[2021-04-29 07:38] javsalgar commented on #19
Hi,

Did you try ectdctl snapshot save? Documentation from the official etcd project here https://support.coreos.com/hc/en-us/articles/115000323894-Creating-etcd-backup

[2021-05-21 01:30] #19 closed

[2021-06-14 18:19] Yamakasi commented on #12
I run into the same issue at the moment, any suggestions ?

[2021-06-15 13:42] marcosbc commented on #12
Hi @Yamakasi, if this is getting logged in the XtraDB server, I'm not sure if there's anything we can do about it unfortunately, as we do not support that service in our catalog. Have you considered reporting this to Percona XtraDB maintainers?

[2021-10-04 10:36] baswa-cloud opened #23 "Etcd endpoint issue"
I am working Google cloud environment.

I used minio provider helm chat install minio application in kubernetes cluster and working fine.

I have installed etcd of bitnami providers and pod also running.

So I gave etcd endpoints in minio applications but am getting like below

"Unable to initialize the config system :unexpected error: etcdserver :username empty returned by etcd setup
Please check

[2021-10-04 15:49] yilmi commented on #23
Hi @baswa-cloud, this repo is focus on etcd container issues, it seems that you have used our chart in this case - https://github.com/bitnami/charts/tree/master/bitnami/etcd.

For charts issues I would recommend opening an issue in our charts repo.

There are a couple of issues covering the problem you reported, could you please check them and let me know if this solves your problem?
- https://git

[2021-11-10 19:18] arshbot opened #24 "How to apply ALLOW_NONE_AUTHENTICATION without the bitnami docker image?"
Hey ya'll!

I'm working on a project that typically uses the bitnami docker image for etcd, however in specific cases it will spin an embedded etcd server. In these specific cases, I get an error related to authentication. This is typically solved by using the `ALLOW_NONE_AUTHENTICATION` environment variable, however it's unclear how this value is applied against a default etcd instance.

What act

[2021-11-11 08:31] migruiz4 commented on #24
Hi @arshbot,

The `ALLOW_NONE_AUTHENTICATION` is simply a check to prevent users from deploying ETCD without any protection except explicitly set.

[code]

It allows skipping the variable ETCD_ROOT_PASSWORD, which when empty skips the configuration of RBAC:
[code]

Both code blocks have are from [libetcd.sh](https://github.com/bitnami/bitnami-docker-etcd/blob/master/3/debian-10/rootfs/opt/bitnami/

[2021-11-11 22:01] #24 closed

[2021-11-29 09:05] Rellopn opened #26 "How to set root user/password in cluster?"
**Description**

**Steps to reproduce the issue:**
I have a etcd cluster.I want to add root user/password in this cluster.`ETCD_ROOT_PASSWORD`  are set in the `docker-compose.yaml`, but they don’t seem to take effect.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

-

[2021-11-29 10:49] rafariossaa commented on #26
Hi,
  Did you get any error ? Could you enable debug `BITNAMI_DEBUG=1` and check the logs ?

[2021-11-30 01:29] Rellopn commented on #26
I have modified the yaml file add ```BITNAMI_DEBUG=1```,then I got an error:
[code]
The ```BITNAMI_DEBUG``` variable seem is a boolean value.
So I set ```BITNAMI_DEBUG=true```, and this is the information output from the console.
```BITNAMI_DEBUG=true``` It doesn't seem to work.
here is  modified```docker-compose.yaml``` etcd1:
[code]

console info:

[code]
look forward to your help.

[2021-12-01 02:13] haorenfsa opened #27 "A Restart Pod may be permantly removed from cluster"
**Description**

A Restart Pod may be permantly removed from cluster. This is because the `prestop.sh` script is not atomic when remove itself from cluster & write `member_removal.log`.

see prestop.sh:

[code]

Due to network or other problem, the leader may already removed the `member_id`, but the node running `prestop.sh` doesn't receive the result.

**Steps to reproduce the issue:**

1. use he

[2021-12-01 02:18] haorenfsa commented on #27
Possible Solution:

We may write removal log both before & after calling remove, and call remove again when we found only before removal log to make sure remove succeeded.

[2021-12-17 08:49] haorenfsa commented on #27
Flush memory may solve the problem in most situations, but there's still chances we fail to write file when extreme things happens. Hopes we can find a better solution.

[2021-12-17 15:37] alemorcuq commented on #27
Sorry for the delay, we lost track of this ticket. A colleague will review your PR, thank you very much for the contribution.

[2021-12-20 06:20] lookhua opened #29 "Error: bad member ID arg (strconv.ParseUint: parsing "": invalid syntax), expecting ID in Hex"
**Description**

**Steps to reproduce the issue:**

1. deploy etcd in k8s version 20.0 and set replicate = 3
2. scale the replicate to 5
3.  then the pod restart fail ,the log message bellow:
[38;5;6metcd [38;5;5m06:16:20.84 [0m
[38;5;6metcd [38;5;5m06:16:20.84 [0m[1mWelcome to the Bitnami etcd container[0m
[38;5;6metcd [38;5;5m06:16:20.84 [0mSubscribe to project updates by watching [1

[2021-12-20 11:18] javsalgar commented on #29
Hi,

Could you specify the exact instructions you used for deploying and scaling the cluster?

[2021-12-21 08:29] #27 closed

[2021-12-22 06:37] ruanlianjun opened #30 "start have err"
{"level":"warn","ts":1640154973.3279912,"caller":"flags/flag.go:93","msg":"unrecognized environment variable","environment-variable":"ETCD_INIT_SNAPSHOTS_ ││ DIR=/init-snapshot"}                                                                                                                                       ││ {"level":"warn","ts":1640154973.3280044,"caller":"flags/flag.go:93","msg":"unrecogni

[2021-12-22 06:38] ruanlianjun opened #31 "run install have a err"
[38;5;6metcd [38;5;5m06:35:11.81 [0m[38;5;1mERROR[0m ==> Unhealthy endpoint!                                                                               ││   Warning  Unhealthy  2m49s  kubelet  Readiness probe failed: {"level":"warn","ts":1640154921.8267612,"logger":"client","caller":"v3/retry_interceptor.go: ││ 62","msg":"retrying of unary invoker failed","target":"etcd-endpoints://0xc00031ea80

[2021-12-22 09:56] javsalgar commented on #30
Hi,

Could you add more information about the issue?

- What are the exact deployment steps to trigger the issue?
- What is the target platform you are using?

[2021-12-22 09:57] javsalgar commented on #31
Looks like a duplicate of https://github.com/bitnami/bitnami-docker-etcd/issues/30, closing

[2021-12-22 09:57] #31 closed

[2021-12-28 09:50] xin3liang opened #32 "Add arm64 multi-arch image support for etcd"
There is no arm64 image in the [release image repo](https://hub.docker.com/r/bitnami/etcd/tags) yet. Can we built and push multi-arch images in there?
BTW, [minideb ](https://hub.docker.com/r/bitnami/minideb/tags) provides arm64 image already.

[2021-12-28 10:11] juan131 commented on #32
Closing as duplicate of https://github.com/bitnami/charts/issues/7305

[2021-12-28 10:11] #32 closed

[2022-01-10 03:41] DexterQY opened #33 "docker-compose restart failed"
I started etcd cluster successfully with docker compose, but I got the following error when I restarted the container

**Steps to reproduce the issue:**

1. docker-compose up -d
2. docker restart etcd3

**Describe the results you received:**

[code]

**Describe the results you expected:**

Restart successful

**Additional information you deem important (e.g. issue happens only occasionally):**

My

[2022-01-10 08:22] carrodher commented on #33
I was not able to reproduce the issue by using the _docker-compose-cluster.yml_ present in the root of this directory:
[code]

Can you check the differences and try to adapt the existing one (which should work) to meet your needs?

[2022-01-10 09:42] DexterQY commented on #33
There is no problem starting for the first time.
But when I execute ``docker-compose down``,I need to rm the etcd docker volume before I can execute ``docker-compose up -d`` to start again.
This phenomenon will not appear on the etcd of a single node cluster.
Can you try my docker-compose.yml.
I tried to modify some configurations, but they were unsuccessful,I'm at my wits' end.

[2022-01-10 09:43] DexterQY commented on #33
There is no problem starting for the first time.
But when I execute docker-compose down,I need to rm the etcd docker volume before I can execute docker-compose up -d to start again.
This phenomenon will not appear on the etcd of a single node cluster.
Can you try my docker-compose.yml.
I tried to modify some configurations, but they were unsuccessful,I'm at my wits' end.

[2022-01-10 11:57] DexterQY commented on #33
I changed the image to ``quay.io/coreos/etcd`` and configure with command solved the problem.

[2022-01-10 11:57] #33 closed

[2022-01-11 01:29] #29 closed

[2022-01-11 08:50] starsz opened #35 "feature: support add `--insecure-skip-tls-verify` in health check"
**Description**

**Steps to reproduce the issue:**

Hi, I found that we don't support adding `--insecure-skip-tls-verify` in health check.
I think it's useful if we use our own SSL key and certs.
So I just want to know can we support this function. And we can both support it in the helm chart.
I can do some contributions to this feature.

Looking forward to your reply, thank you very much.

**Desc

[2022-01-11 09:18] carrodher commented on #35
Thanks for the suggestion, sure, feel free to create a PR and the team will be happy to provide feedback!

[2022-01-12 01:38] starsz commented on #35
Haha. Let me create a PR. 😄

[2022-01-14 22:26] PixelByProxy opened #36 "docker-compose cluster restart failed"
I'm able to start the cluster but when I try to re-start a node it fails with the error below.

**Steps to reproduce the issue:**

1. Use the docker-compose-cluster.yml in this repo
2. Start the cluster with docker-compose up -d
3. Re-start a node (eg: docker restart etcd2)

**Describe the results you received:**

[code]

**Describe the results you expected:**

Restart should succeed.

**Additiona

[2022-01-17 07:37] carrodher commented on #36
In order to debug the issue, I added the `BITNAMI_DEBUG=true` environment variable to the 3 containers.
Then, I deployed the cluster by running
[code]

In order to reproduce the issue, I restarted the second node by running
[code]

The container was restarted, but as you rightly said, the initialization is not being completed:
[code]

Now, thanks to the debug we can see an issue trying to change t

[2022-02-02 01:27] #35 closed

[2022-02-23 01:10] Rellopn commented on #26
This problem seems to have been solved in v3.5.2

[2022-02-23 07:10] carrodher commented on #26
Thanks for confirming! I'm closing the issue, please, feel free to reopen it or create another one if you find any issue

[2022-02-23 07:10] #26 closed

[2022-02-24 07:44] EddyZhang38 opened #37 "docker hub - project home page - tutorial issue"
### Name and Version

bitnami/etcd:lastest

### What steps will reproduce the bug?

1. visit https://hub.docker.com/r/bitnami/etcd
2. go to step :
![image](https://user-images.githubusercontent.com/80247478/155479100-ce57fe7d-19c3-48f0-82d7-c22643f65636.png)
[code]

3.  the Etcdctl command should be in lower case：

[code]
4. else it will give error like: **Etcdctl: not found**
[code]

### What is

[2022-02-24 08:36] carrodher commented on #37
Thanks for the issue and the associated PR, can you please take a look at the comments?

[2022-03-03 05:36] EddyZhang38 commented on #37
Close this issue. Since it is fixed in
https://github.com/bitnami/bitnami-docker-etcd/commit/49d9dd10f9d3a4dcb51c2dcde2c8c9f8bef064b2

Thanks!

[2022-03-03 05:36] #37 closed

[2022-03-15 16:38] justinrush opened #39 "member_id file is empty, node won't join cluster"
### Name and Version

bitnamic/etcd 3.5.1-debian-10-r88

### What steps will reproduce the bug?

I'm able to reproduce this every ~5ish times using a minimal config with replicas = 5 and using the helm chart. I suspect replicas at 3 will encounter the same problem.

[code]

Given what code is being executed, the problem appears to be in the `libetcd.sh` code in this repository rather than in the h

[2022-03-16 16:51] justinrush commented on #39
That explains why it seems to happen more frequently with 5 node clusters vs 3. Is there a deterministic approach rather than a "sleep" approach that is valid?

Why timeout at all? why not let it continue forever and rely on the orchestrator to handle the not-ready condition (be it docker compose or kubernetes)

Happy to do a PR

[2022-03-18 11:28] marcosbc commented on #39
Hi @justinrush, the intention of the timeout is to end up in an error state and not leave a container stuck indefinitely at that point. While in Kubernetes the pod would eventually die due to health probes, it is not the case in other environments (like docker-compose or clustered VMs).

If you have any ideas to do it in a deterministic way, feel free to share that idea and/or contribute it. Howev

[2022-03-20 08:06] XiaoYang1127 commented on #36
I also encountered this problem until I lowered ETCD to 3.4.4 in docker-compose

version: "3"
networks:
  net_etcd_cluster:

services:
  etcd1:
    image: bitnami/etcd:3.4.4
    container_name: etcd1
    ports:
      - "23800:2380"
      - "23790:2379"
    environment:
      - ETCD_DEBUG=True
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_NAME=etcd1
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0

[2022-03-20 08:13] XiaoYang1127 commented on #36
I also encountered this problem until I lowered the ETCD from 3.5.2 to 3.4.4
Here is my docker-compose configuration

`version: "3"
networks:
  net_etcd_cluster:

services:
  etcd1:
    image: bitnami/etcd:3.4.4
    container_name: etcd1
    ports:
      - "23800:2380"
      - "23790:2379"
    environment:
      - ETCD_DEBUG=True
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_NAME=etcd1

[2022-03-29 22:18] gamer22026 opened #40 "The 3.5.x versions of etcd have confirmed data corruption issues."
### Name and Version

bitnami/etcd:3.5.2

### What steps will reproduce the bug?

The 3.5.x etcd version on which this image is based have known data-corruption issues.
https://github.com/etcd-io/etcd/tree/main/CHANGELOG#v35-data-corruption-issue

### What is the expected behavior?

Revert to 3.4.x versions until the issue is fixed.

### What do you see instead?

N/A

### Additional information

_

[2022-03-30 06:40] carrodher commented on #40
Thanks for letting us know, I am going to create an internal task. We will update this issue as soon as we make some progress

[2022-03-30 15:47] carrodher commented on #40
We just created this PR https://github.com/bitnami/charts/pull/9628 changing the container image used by the bitnami/etcd Helm chart. The rest of the required changes were also triggered.

The idea is to support 3.3.x and 3.4.x as supported branches for containers (using 3.4.x in the Helm chart and as the `latest` tag). Then add 3.5.x once solved the upstream issue

[2022-04-01 14:43] javsalgar commented on #40
Hi,

Just a note to let you know that the helm chart is now using branch 3.4.x by default.

[2022-04-03 20:38] justinrush commented on #39
I'm working on fixing this, just got back from holiday. Keeping it open.

[2022-04-18 10:29] carrodher commented on #40
According to the latest suggestion in the upstream project (https://github.com/etcd-io/etcd/commit/f409f39bb8057071555a4e031716bd309bdac749), the new etcd version (3.5.3) fixes the data corruption issue and it is recommended for production.

We will change the version used by default in the Helm chart.

[2022-04-21 13:25] cunningr commented on #39
I think we are also hitting this when running `kubectl delete pod/etcd-testing-2` to test recovery.

[code]

[2022-04-26 14:28] q-markwilliams opened #41 "Recreated pod doesn't attach to recent cluster"
### Name and Version

bitnami/etcd 3.5.4-debian-10-r0

### What steps will reproduce the bug?

Using Helm chart & Kubernetes v1.21.10 (GKE)
Will attach install values for the helm chart in comment below

### Process:

Perform a fresh install of the etcd chart, wait until the cluster is healthy and then run the following commands:
`kubectl delete pvc data-etcd-2`
`kubectl delete pod etcd-2`

### Wh

[2022-04-26 14:29] q-markwilliams commented on #41
Helm values used:
[code]

[2022-04-28 15:43] marcosbc commented on #39
@ingvar-goryainov Have you taken a look at the [previous comment with a possible solution](https://github.com/bitnami/bitnami-docker-etcd/issues/39#issuecomment-1069322973)? You may be interested in applying that as a temporary workaround until this is solved. It seems like @justinrush is working on the fix within a PR, but it is taking a bit longer than expected.

[2022-04-28 16:04] justinrush commented on #39
I've got a change in and am testing it today

[2022-04-29 02:11] justinrush commented on #39
@cunningr - was the pod you deleted in your test actually ready? It looks like it never wrote  the member_id file. I would have expected a delete of the pod to start back up and read the existing member_id file.

I was trying to fix this by testing for member_id being empty and deleting it on start up if thats the case. I don't really want to increase the sleep command because its not really solvi

[2022-04-29 07:48] cunningr commented on #39
@justinrush - sorry for the delay.  I think my issue was actually self inflicted.  I found that I had the `initialClusterState: existing` explicitly set when deploying a new cluster.

[2022-05-07 02:19] DarthPestilane commented on #36
same here, using `bitnami/etcd:3.5`

[2022-05-07 10:37] carrodher commented on #36
There is an internal task created for this issue, although due to the issue is affecting docker-compose and not Helm chart (which is what we consider production-ready deployable artifact), I can't provide any ETA for this task, it would depend on the different priorities the team has.

In the meantime, as all the code is publicly available in this repo we would be happy to review any PR addressing

[2022-05-12 10:17] HelloKevinTian commented on #39
**Issue**
I have the same issue. I met this when I install apisix followed by [APISIX-INSTALL-README](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/kubesphere.md).

Waiting for the PR.

Well, Is there a temporary solution for the issue?

**Version Info**
etcd:3.4.18-debian-10-r14
kubernetes v1.19.12
kubesphere v3.2.1

**Error Info In Pod apisix-etcd-0**

[2022-05-12 12:01] justinrush commented on #39
You can increase the timeout in the script and re-build the container image and use that image and its likely that will fix your problem. If the approach I mention above is acceptable I can submit a PR to do it.

[2022-05-20 08:22] CharesLee commented on #7
@juan131  Hi, I am using Bitnami/etcd Version 6.8.2 and I have a problem starting the cluster from startFromSnapshot。

[2022-05-20 15:23] haorenfsa commented on #39
Guys, I really doubt the necessarity of the 2 things the scripts are trying to do:
- maintaining a `member_id`
- the self removal from cluster when a pod shutdown

First you can see from this issue & the all the links to it, that there's a quite big chance that the files keeping track of these two things failed to sync to disk.

The member_id is persisted inside etcd's storage. So there's no reaso

[2022-05-21 15:15] cunningr commented on #39
Will this still cover use cases without persistent storage? We are running
a cluster with 5 nodes and no persistent storage so whenever a pod
goes/starts, it needs to join as a new node. I believe for this case, we
need to have removed the old node first.

On Fri, 20 May 2022 at 16:23, shaoyue ***@***.***> wrote:

[2022-05-22 01:52] haorenfsa commented on #39
I just tested this case, it can still join by itself. The endpoint of the pod is not changed, so it can still be recognized by the rest nodes as the old one, as long as you have more than a half nodes alive.

[2022-05-22 13:15] haorenfsa commented on #39
While the above change is quite big. Let's try a simpler approach first:

We should using `sync -d $filename` rather than the `stdbuf -oL` that we're using now.

The latter only guarantees the data in stdout buffer is passed to next process in pipeline line by line, while the former ensures the file data is synced to disk (which is the root cause of this case).

I strongly suggest calling sync aft

[2022-05-22 15:08] haorenfsa commented on #39
Time to end the disk syncing issue 💪

[2022-05-23 11:35] joancafom commented on #7
I see you already opened a new issue in our `bitnami/charts` repository and someone from our team is giving you feedback already, let's move the conversation there 😁

[2022-05-25 12:20] Yullin commented on #36
Version 3.5.1 and 3.5.2, Got following issue with docker-compose
'''
etcd 19:38:03.66
etcd 19:38:03.66 Welcome to the Bitnami etcd container
etcd 19:38:03.66 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-etcd
etcd 19:38:03.66 Submit issues and feature requests at https://github.com/bitnami/bitnami-docker-etcd/issues
etcd 19:38:03.66
etcd 19:38:03.66 INFO  ==> *

[2022-05-27 12:08] croomes commented on #39
For anyone coming across this issue and just wanting to recover without building new images:
1. Find the `member_id` of the Pod by looking in the logs of an active member Pod, e.g.:
[code]

[2022-05-30 08:42] haorenfsa commented on #10
@juan131
I just encounter this issue in current version.  And I found the root cause of it.

When first time startup, the `ETCD_INITIAL_CLUSTER` is initialized by `recalculate_initial_cluster()` which uses `etcdctl_get_endpoints()`. And the `etcdctl_get_endpoints()` uses `getent` to find all entrypoints from `DNS` server by the `headless service` hostname.

While in kubernetes, if a statefulset mu

[2022-06-01 13:18] mdhont commented on #10
I have created a task to investigate the issue, thank you for the detailed information.

[2022-06-01 14:52] haorenfsa commented on #10
Yes, of course

[2022-06-06 16:11] haorenfsa commented on #10
I just recheck the situation and found it's not exactly the same issue as mine. I'll open a new one to track it.

[2022-06-06 16:26] haorenfsa opened #45 "Cluster ID Mismatch When start a new etcd-cluster"
### Name and Version

bitnami/etcd:3.5.0

### What steps will reproduce the bug?

Deploy the etcd helm-chart multiple times. It happens about once out of 10 times in our Kubernetes cluster.
It seems more likely to reproduce in a high-load cluster.

### What is the expected behavior?

The etcd cluster always starts successfully.

### What do you see instead?

Sometimes some nodes can never start.
A

[2022-06-06 16:57] carrodher commented on #45
Thanks for creating this issue and the associated PR, we will review it and provide feedback

[2022-06-14 16:37] justinrush commented on #39
still an issue

[2022-06-15 01:40] haorenfsa commented on #39
Try out our image built with the patch #42 which solves it totally if you're interested `milvusdb/etcd:3.5.4-r1`

[2022-06-15 16:28] haorenfsa commented on #39
If there's only one pod down in your cluster of 3 or more nodes. An easier way is just delete the pvc, and delete the pod to release the pvc and relaunch the new pvc & pod

Only need 2 lines commands:

[code]

[2022-06-23 10:24] ondrej-smola commented on #39
should be fixed by #42

[2022-06-24 06:27] haorenfsa opened #46 "Upgrading issue when upgrade current release to use no prestop feature"
### Name and Version

bitnami/etcd:latest

### What steps will reproduce the bug?

- Install a release without setting ETCD_DISABLE_PRESTOP
- upgrade the release set ETCD_DISABLE_PRESTOP=true

### What is the expected behavior?

The etcd cluster upgrades successfully

### What do you see instead?

Nodes fails to rejoin the cluster since they're removed by the previous prestop hook

### Additional

[2022-06-24 06:28] haorenfsa commented on #46
I'm trying to fix it so that those who're using former versions can switch to new.

[2022-06-24 10:53] dgomezleon commented on #46
Hi @haorenfsa ,

Thanks for all your contributions.

I can see you have 2 open PR. The team will review them soon.

[2022-06-27 03:30] haorenfsa commented on #45
/reopen

[2022-06-30 08:42] miaomiaomao1 opened #48 "ARS System risk report (High level vulnerability)"
### Name and Version

bitnami/etcd:3.4.15

### What steps will reproduce the bug?

ETCD REST API未授权访问漏洞【原理检测】
etcd是CoreOS团队于2013年6月发起的开源项目，它的目标是构建一个高可用的分布式键值(key-value)数据库。etcd内部采用raft协议作为一致性算法，etcd基于G
o语言实现。其API接口没有正确配置的话，将导致未授权访问漏洞
Etcd rest API unauthorized access vulnerability [principle detection]

Etcd is an open source project initiated by the coreos team in june2013. Its goal is to build a

[2022-07-01 06:55] rafariossaa commented on #48
Hi,
  I am not sure what is this issue about.
  Could you elaborate a bit ?

[2022-07-01 10:41] #45 closed

[2022-07-14 01:36] #39 closed

[2022-07-15 01:39] #46 closed

[2022-07-15 03:12] haorenfsa commented on #46
#49

[2022-07-15 06:37] dgomezleon commented on #46
Thanks for sharing it and for your contributions @haorenfsa ,

The issue has been closed after merging both PRs. If you think otherwise, please let us know.

[2022-07-22 01:36] #48 closed

[2022-07-28 15:08] carrodher commented on #36
In order to unify the approaches followed in Bitnami containers and Bitnami charts, we are moving some issues in `bitnami/bitnami-docker-<container>` repositories to `bitnami/containers`. Please follow [bitnami/containers](https://github.com/bitnami/containers) to keep you updated about the latest bitnami images.

If this issue is still applicable, please feel free to recreate it at https://github

[2022-07-28 15:08] #36 closed